/* Mobile */
.container {
    width: 100%;
    height: 5rem;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    &.scrolled {
        box-shadow: 0 1rem 1rem 0 var(--box-shadow-header);
        backdrop-filter: blur(0.25rem);
    }

    .content {
        max-width: var(--max-width-mobile);
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .options {
            display: flex;
            align-items: center;
        }

        /* (Popover > Button) && (Button) */
        .options > div > div div:last-child form,
        .search div form {
            button {
                width: 1.488rem;
                height: 1.488rem;

                border-radius: 0.35rem;
                -webkit-border-radius: 0.35rem;
                -moz-border-radius: 0.35rem;
                -ms-border-radius: 0.35rem;
                -o-border-radius: 0.35rem;

                filter: invert(61%) sepia(21%) saturate(408%) hue-rotate(179deg) brightness(140%) contrast(86%);
                -webkit-filter: invert(61%) sepia(21%) saturate(408%) hue-rotate(179deg) brightness(140%) contrast(86%);

                /* SearchIcon */
                span { width: 0.613rem !important; height: 0.613rem !important; }
            }
            input:not(:placeholder-shown) ~ button { filter: none; }
        }

        .search, .links { display: none; }
    }
}



/* Mobile / Tablet */
@media (max-width: 980px) { .container { padding: 0 var(--padding-mobile); } }

/* Tablet / Desktop */
@media (min-width: 780px) {
    .container .content {
        max-width: var(--max-width-tablet);

        .options { display: none; }

        .search { display: contents; }

        .links {
            display: block;

            ul {
                display: flex;
                align-items: center;

                gap: 1.4rem;

                li {
                    a {
                        font-size: 0.8rem;

                        &.active { text-decoration: underline; }
                    }

                    &:last-child {
                        background-image: var(--gradient-contact);

                        display: flex;
                        align-items: center;

                        cursor: pointer;

                        a {
                            border: 0.063rem solid transparent;
                            text-decoration: none;

                            padding: 0.7rem 1.26rem;

                            &:focus { color: var(--white); border-color: var(--white); }
                        }

                        &, a {
                            border-radius: 0.525rem;
                            -webkit-border-radius: 0.525rem;
                            -moz-border-radius: 0.525rem;
                            -ms-border-radius: 0.525rem;
                            -o-border-radius: 0.525rem;
                        }
                    }
                }
            }
        }
    }
}

/* Desktop */
@media (min-width: 1480px) {
    .container .content {
        max-width: var(--max-width-desktop);

        /* Button > SearchIcon */
        .search > div form button {
            width: 2.125rem;
            height: 2.125rem;

            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;

            & span { width: 0.875rem !important; height: 0.875rem !important; }
        }

        .links {
            ul {
                gap: 2rem;

                li {
                    a { font-size: 1rem; }

                    &:last-child {
                        a { padding: 1rem 1.8rem; }

                        &, a {
                            border-radius: 0.75rem;
                            -webkit-border-radius: 0.75rem;
                            -moz-border-radius: 0.75rem;
                            -ms-border-radius: 0.75rem;
                            -o-border-radius: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}