* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -webkit-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -moz-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -ms-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -o-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
}
:root {
    --white : #FFF;
    --black : #000;

    --blue-200  : #8393AF;
    --blue-400  : #1915CA;
    --blue-500  : #10151e;
    --blue-600  : #0C121C;
    --blue-700  : #080D16;
    --blue-800  : #090E18;
    --blue-900  : #04070E;
    --blue-1000 : #030812;/* ~ 1° */
    --blue-400-transparency-30 : #1915CA4D;
    --blue-900-transparency-50 : #04070E80;

    --pink-100 : #FFC0CB;
    --pink-200 : #FF80B5;/* ~ 1° */
    --pink-300 : #FF75AF;
    --pink-200-transparency-50 : #FF80B580;
    --pink-200-transparency-80 : #FF80B5CC;

    --purple-200 : #7438f3;/* ~ 1° */
    --purple-200-transparency-50 : #7438f380;

    --gray-300 : #afafaf;

    --red-300 : #F03148;

    --yellow-300 : #EEE747;

    --green-300 : #3CED8E;

    /* ~~~~~~~~~~~~~~~~~ Geral ~~~~~~~~~~~~~~~~~ */
    --gradient-hero     : linear-gradient(90deg, var(--purple-200), var(--pink-200), var(--purple-200));
    --gradient-rights   : linear-gradient(90deg, var(--purple-200), var(--blue-400-transparency-30), var(--purple-200));
    --gradient-contact  : linear-gradient(70deg, var(--pink-200-transparency-50), var(--purple-200-transparency-50));
    --gradient-button   : linear-gradient(70deg, var(--purple-200), var(--pink-300));
    --gradient-logo-1   : linear-gradient(270deg, var(--pink-200-transparency-80) 15.44%, var(--purple-200-transparency-50) 141.14%);
    --gradient-logo-2   : linear-gradient(180deg, var(--purple-200) 10%, transparent);

    --transition-cb     : 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    --luminosity-70p    : rgb(255 255 255 / 70%);
    --luminosity-50p    : rgb(255 255 255 / 50%);
    --luminosity-20p    : rgb(255 255 255 / 20%);
    --luminosity-10p    : rgb(255 255 255 / 10%);
    --luminosity-5p     : rgb(255 255 255 / 5%);
    --shadow-10p        : rgb(0 0 0 / 10%);
    --shadow-5p         : rgb(0 0 0 / 5%);
    --shadow-1p         : rgb(0 0 0 / 1%);

    --padding-mobile    : 2rem;
    --max-width-mobile  : 35.2rem;
    --max-width-tablet  : 56rem;
    --max-width-desktop : 71rem;
    --slideSpeedPartOne : 40s;
    --slideSpeedPartTwo : 40s;
    --slideSizePartOne  : 8.2rem;
    --slideSizePartTwo  : 7.5rem;

    /* ~~~~~~~~~~~~~~~ JSON Code ~~~~~~~~~~~~~~~ */
    /* Colors ~ Dracula Theme */
    --code-background : #282A36;
    --code-foreground : #F8F8F2;
    --code-selection  : #44475A;
    --code-comment    : #6272A4;
    --code-red        : #FF5555;
    --code-orange     : #FFB86C;
    --code-yellow     : #F1FA8C;
    --code-green      : #50FA7B;
    --code-purple     : #BD93F9;
    --code-cyan       : #8BE9FD;
    --code-pink       : #FF79C6;
}
//[data-theme='light'] {}
[data-theme='dark'] {
    /* ~~~~~~~~~~~~~~~~~ Geral ~~~~~~~~~~~~~~~~~ */
    --background               : var(--blue-1000);
    --title                    : var(--white);
    --text-plain               : var(--white);
    --text-inactive            : var(--blue-200);
    --text-highlight           : var(--pink-200);
    /* Scrollbar ------------ */
    --scrollbar-bg             : transparent;
    --scrollbar-thumb-bg       : var(--purple-200);
    --scrollbar-corner-bg      : transparent;
    /* Buttons -------------- */
    --button-bg-normal         : var(--blue-600);
    --button-bg-line           : transparent;
    --button-bg-gradient       : var(--gradient-button);
    --button-bg-options        : var(--luminosity-5p);
    --button-bg-dev            : transparent;
    --button-bg-social         : var(--luminosity-5p);
    /* Header --------------- */
    --box-shadow-header        : var(--blue-900-transparency-50);
    /* Popover -------------- */
    --popover-search-bg        : var(--blue-500);
    --popover-search-text      : var(--white);
    --popover-menu-bg          : var(--blue-500);
    --popover-menu-text        : var(--luminosity-70p);
    --popover-menu-divider     : var(--luminosity-10p);
    /* Stack --------------- */
    --stack-content-bg         : var(--blue-600);
    --stack-content-border     : var(--purple-200);
    --stack-black-bg           : var(--blue-500);
    --stack-btn-active-bg      : var(--luminosity-5p);
    --stack-btn-active-bd      : var(--luminosity-10p);
    --stack-btn-active-bs      : var(--shadow-10p);
    --stack-code-bg            : var(--blue-800);
    --stack-code-fg            : var(--gray-300);
    --stack-code-header-bg     : var(--blue-800);
    --stack-code-header-bs     : var(--blue-700);
    --stack-code-header-r-bg   : var(--red-300);
    --stack-code-header-y-bg   : var(--yellow-300);
    --stack-code-header-g-bg   : var(--green-300);
    --stack-code-aside-bg      : var(--blue-700);
    /* Card --------------- */
    --card-bg                  : #38264633;
    --card-picture-bg          : #F2B4B0;
    --card-picture-repo-bd     : var(--luminosity-50p);
    --card-p-fg                : var(--blue-200);
    --card-span-fg             : var(--white);
    --card-boll-repo-bd        : var(--luminosity-20p);
    /* Footer --------------- */
    --text-footer-info-fg      : var(--blue-200);
    --text-footer-rights-fg    : var(--gradient-rights);
    /* Page 404 ------------- */
    --text-404-fg              : var(--luminosity-50p);
    --text-404-stroke          : var(--luminosity-50p);
    --text-404-shadow-1        : var(--luminosity-50p);
    --text-404-shadow-2        : var(--luminosity-10p);
    /* Mouse Selection ------ */
    --selection-mouse-bg       : var(--luminosity-10p);
    --selection-mouse-fg       : var(--pink-200);
}



html {
    scroll-behavior: smooth;

    body {
        background-color: var(--background);
        color: var(--text-plain);

        &,
        input,
        button,
        textarea {
            font-size: 1rem;
            font-weight: 400;
            font-display: optional;
            font-family:
                'Urbanist',
                'Inter',
                -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                'Roboto',
                'Oxygen',
                'Ubuntu',
                'Cantarell',
                'Fira Sans',
                'Droid Sans',
                'Helvetica Neue',
                sans-serif;
            line-height: 1.65;

            font-feature-settings: "kern";
            -webkit-font-feature-settings: "kern";
            -moz-font-feature-settings: "kern";

            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        a {
            color: inherit;
            text-decoration: none;
            text-underline-position: under;
            outline: none;

            &:hover { text-decoration: underline; }
            &:focus {
                color: var(--text-highlight);
                text-decoration: 0.063rem dashed underline;
            }
        }
        h1 { font: 700 2rem 'Poppins', sans-serif; }
        h2 { font: 700 1.5rem 'Urbanist', sans-serif; }
        li { list-style: none; }
        ol, ul { padding-left: 0; margin-top: 0; margin-bottom: 0; }
        button { outline: none; cursor: pointer; }



        /* Desktop */
        @media screen and (min-width: 1480px) {
            h1 { font-size: 4.5rem; }
            h2 { font-size: 3rem; }
        }
    }

    ::selection {
        background-color: var(--selection-mouse-bg);
        color: var(--selection-mouse-fg);
    }
}

.containerWidthLimitation {
    /* Mobile */
    max-width: var(--max-width-mobile);
    /* Tablet / Desktop */
    @media screen and (min-width: 780px) { max-width: var(--max-width-tablet); }
    /* Desktop */
    @media screen and (min-width: 1480px) { max-width: var(--max-width-desktop); }
}



/* Scrollbar */
/*  ::-webkit-scrollbar              { /* 1 *-/ }  */
/*  ::-webkit-scrollbar-button       { /* 2 *-/ }  */
/*  ::-webkit-scrollbar-track        { /* 3 *-/ }  */
/*  ::-webkit-scrollbar-track-piece  { /* 4 *-/ }  */
/*  ::-webkit-scrollbar-thumb        { /* 5 *-/ }  */
/*  ::-webkit-scrollbar-corner       { /* 6 *-/ }  */
/*  ::-webkit-resizer                { /* 7 *-/ }  */

/* 1 */
::-webkit-scrollbar {
    width:  0.438rem;
    background: var(--scrollbar-bg);

    &:horizontal {
        height: 0.438rem;
        background: var(--scrollbar-bg);
    }
}
/* 5 */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);

    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}
/* 6 */
::-webkit-scrollbar-corner { background: var(--scrollbar-corner-bg); }