* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -webkit-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -moz-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -ms-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
    -o-transition: background-color var(--transition-cb), color var(--transition-cb), border var(--transition-cb), box-shadow var(--transition-cb);
}
:root {
    --white : #FFF;
    --black : #000;

    --blue-200  : #8393AF;
    --blue-900  : #0C121C;
    --blue-1000 : #030812;/* ~ 1° */

    --pink-100 : #FFC0CB;
    --pink-200 : #FF80B5;/* ~ 1° */
    --pink-300 : #FF75AF;

    --purple-200 : #7438f3;/* ~ 1° */

    /* ~~~~~~~~~~~~~~~~~ Geral ~~~~~~~~~~~~~~~~~ */
    --gradient-button : linear-gradient(254.95deg, var(--pink-300) 0%, var(--purple-200) 100%);
    --transition-cb   : 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    --luminosity-50p  : rgb(255 255 255 / 50%);
    --luminosity-10p  : rgb(255 255 255 / 10%);
    --luminosity-5p   : rgb(255 255 255 / 5%);
    --shadow-5p       : rgb(0 0 0 / 5%);
    --shadow-1p       : rgb(0 0 0 / 1%);

    /* ~~~~~~~~~~~~~~~ JSON Code ~~~~~~~~~~~~~~~ */
    /* Colors ~ Dracula Theme */
    --code-background : #282A36;
    --code-foreground : #F8F8F2;
    --code-selection  : #44475A;
    --code-comment    : #6272A4;
    --code-red        : #FF5555;
    --code-orange     : #FFB86C;
    --code-yellow     : #F1FA8C;
    --code-green      : #50FA7B;
    --code-purple     : #BD93F9;
    --code-cyan       : #8BE9FD;
    --code-pink       : #FF79C6;
}
//[data-theme='light'] {}
[data-theme='dark'] {
    /* ~~~~~~~~~~~~~~~~~ Geral ~~~~~~~~~~~~~~~~~ */
    --background               : var(--blue-1000);
    --title                    : var(--white);
    --text-plain               : var(--white);
    --text-inactive            : var(--blue-200);
    --text-highlight           : var(--pink-200);
    /* Scrollbar ------------ */
    --scrollbar-bg             : transparent;
    --scrollbar-thumb-bg       : var(--purple-200);
    --scrollbar-corner-bg      : transparent;
    /* Buttons -------------- */
    --button-bg-normal         : var(--blue-900);
    --button-bg-line           : transparent;
    --button-bg-gradient       : var(--gradient-button);
    --button-bg-dev            : transparent;
    --button-bg-social         : var(--luminosity-5p);
    /* Mouse Selection ------ */
    --selection-mouse-bg       : var(--luminosity-10p);
    --selection-mouse-fg       : var(--pink-200);
    /* Page 404 ------------- */
    --text-404-fg             : var(--luminosity-50p);
    --text-404-stroke         : var(--luminosity-50p);
    --text-404-shadow-1       : var(--luminosity-50p);
    --text-404-shadow-2       : var(--luminosity-10p);
}



html {
    scroll-behavior: smooth;

    body {
        width: 100vw;
        height: 100vh;

        background-color: var(--background);
        color: var(--text-plain);

        &,
        input,
        button,
        textarea { font: 400 1rem 'Urbanist', sans-serif; }

        a {
            color: inherit;
            text-decoration: none;
            text-underline-position: under;
            outline: none;

            &:hover { text-decoration: underline; }
            &:focus {
                color: var(--text-highlight);
                text-decoration: 0.063rem dashed underline;
            }
        }
        h1 { font: 700 2.625rem 'Poppins', sans-serif; }
        ol,
        ul { padding-left: 0; margin-top: 0; margin-bottom: 0; }
    }

    ::selection {
        background-color: var(--selection-mouse-bg);
        color: var(--selection-mouse-fg);
    }
}

button {
    max-width: 30rem;

    color: var(--text-plain);
    border: 0.125rem solid transparent;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 3rem;

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    cursor: pointer;

    &.normal {
        background-color: var(--button-bg-normal);

        &:hover { border: 0.125rem solid  var(--text-plain) }
        &:focus { border: 0.125rem dashed var(--text-plain) }
    }

    &.line {
        background-color: var(--button-bg-line);
        border: 0.063rem solid var(--text-plain);

        &:hover,
        &:focus {
            color: var(--text-highlight);
            border-color: var(--text-highlight);
        }

        &:disabled {
            color: var(--text-inactive);
            border-color: var(--text-inactive);

            cursor: not-allowed;
        }
    }

    &.gradient {
        background: var(--button-bg-gradient) border-box;

        &:hover { border: 0.125rem solid  var(--text-plain) }
        &:focus { border: 0.125rem dashed var(--text-plain) }
    }

    &.devLanguages {
        width: 3.75rem;
        height: 3.75rem;

        background-color: var(--button-bg-dev);
        font-size: 0;

        padding: 0;

        &:hover { border: 0.063rem solid }
        &:focus { border: 0.063rem dashed }
    }

    &.social {
        width: 3rem;
        height: 3rem;

        background-color: var(--button-bg-normal);
        font-size: 0;

        padding: 0;

        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        &:hover { border: 0.063rem solid  var(--luminosity-50p) }
        &:focus { border: 0.063rem dashed var(--luminosity-50p) }
    }

    &.inCard {
        width: 100%;

        padding: 1rem 0;
    }
}



/* Scrollbar */
/*  ::-webkit-scrollbar              { /* 1 *-/ }  */
/*  ::-webkit-scrollbar-button       { /* 2 *-/ }  */
/*  ::-webkit-scrollbar-track        { /* 3 *-/ }  */
/*  ::-webkit-scrollbar-track-piece  { /* 4 *-/ }  */
/*  ::-webkit-scrollbar-thumb        { /* 5 *-/ }  */
/*  ::-webkit-scrollbar-corner       { /* 6 *-/ }  */
/*  ::-webkit-resizer                { /* 7 *-/ }  */

/* 1 */
::-webkit-scrollbar {
    width:  0.438rem;
    background: var(--scrollbar-bg);

    &:horizontal {
        height: 0.438rem;
        background: var(--scrollbar-bg);
    }
}
/* 5 */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);

    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}
/* 6 */
::-webkit-scrollbar-corner { background: var(--scrollbar-corner-bg); }